.searchbox {
  position: relative;
}

.searchbox--input {
  font-size: 18px;
  width: 100%;
  display: block;
  height: 56px;
  padding: 1rem 1.2rem;
  outline: none;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  transition: border-color 300ms ease-in-out;
}

.searchbox--input::placeholder {
  opacity: 1;
  color: #78716c;
}

.searchbox--input:hover {
  border: 1px solid #d4d4d4;
}

.searchbox--input:focus {
  border: 1px solid #38bdf8;
}

.searchbox--icon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  color: #78716c;
  pointer-events: none;
}
